@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Work+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    border-image-slice: 1;
    border-width: 3px;
  }
  .border-gradient-button {
    border-image-source: linear-gradient(
      90deg,
      rgba(213, 61, 216, 1) 0%,
      rgba(216, 61, 61, 1) 50%,
      rgba(216, 163, 61, 1) 100%
    );
  }
}
